---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    mem_limit: 512M
    networks:
      proxy:
    env_file: .env
    volumes:
      - /opt/prowlarr/config:/config
      - /opt/prowlarr/custom-definitions:/config/Definitions/Custom
      #- ./custom-cont-init.d:/custom-cont-init.d
      - ${MEDIA}:/media
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696/"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.prowlarr-secure.entrypoints=https"
      - "traefik.http.routers.prowlarr-secure.rule=Host(`prowlarr.${DOMAIN}`)"
      - "traefik.http.routers.prowlarr-secure.tls=true"
      - "traefik.http.routers.prowlarr-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.prowlarr-secure.service=prowlarr"
      - "traefik.http.routers.prowlarr-secure.middlewares=compress@file"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
networks:
  proxy:
    external: true
