BACKUP_ROOT=/opt/backups

RESTIC_REPOSITORY=rest:http://restic:8000/fight-club
RESTIC_PASSWORD=change-this

RETENTION_DAILY=7
RETENTION_WEEKLY=4
RETENTION_MONTHLY=6

USE_SECOND_DISK=false
SECOND_DISK_BACKUP_ROOT=/mnt/backup-disk/backups

INFISICAL_TOKEN=replace-with-machine-identity-token
INFISICAL_PROJECT_ID=replace-with-project-id
INFISICAL_ENV=prod
INFISICAL_CLI_BIN=infisical
AGE_RECIPIENT=age1replacewithpublickey
