---
services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    network_mode: host
    container_name: wg-easy
    env_file: .env
    ports:
      - "51821:51821/udp"
    volumes:
      - /opt/wg-easy/etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    healthcheck:
      test: /usr/bin/timeout 5s /bin/sh -c "/usr/bin/wg show | /bin/grep -q interface || exit 1"
      interval: 1m
      timeout: 5s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.wg-easy-secure.entrypoints=https"
      - "traefik.http.routers.wg-easy-secure.rule=Host(`wg-easy.${DOMAIN}`)"
      - "traefik.http.routers.wg-easy-secure.tls=true"
      - "traefik.http.routers.wg-easy-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.wg-easy-secure.service=wg-easy"
      - "traefik.http.routers.wg-easy-secure.middlewares=compress@file"
      - "traefik.http.services.wg-easy.loadbalancer.server.port=51821"
      - diun.enable=true
