---
services:
  unpackerr:
    image: golift/unpackerr:latest
    container_name: unpackerr
    env_file:
      - /secrets/unpackerr.env
    networks:
      proxy:
    mem_limit: 512M
    volumes:
      - ${MEDIA}:/media
    restart: unless-stopped
    user: 1000:100
    environment:
      - UN_QUIET=false
      - UN_DEBUG=false
      - UN_ERROR_STDERR=false
      - UN_LOG_QUEUES=1m
      - UN_LOG_FILE=/media/unpackerr.log
      - UN_LOG_FILES=10
      - UN_LOG_FILE_MB=10
      - UN_INTERVAL=2m
      - UN_START_DELAY=1m
      - UN_RETRY_DELAY=5m
      - UN_MAX_RETRIES=3
      - UN_PARALLEL=1
      - UN_FILE_MODE=0644
      - UN_DIR_MODE=0755
      - UN_ACTIVITY=false
      - UN_FOLDER_0_PATH=/media/downloads
      - UN_SONARR_0_URL=http://sonarr:8989
      - UN_SONARR_0_API_KEY=${SONARR_API_KEY}
      - UN_RADARR_0_URL=http://radarr:7878
      - UN_RADARR_0_API_KEY=${RADARR_API_KEY}
networks:
  proxy:
    external: true
