---
services:
  unpackerr:
    image: golift/unpackerr:latest
    container_name: unpackerr
    env_file:
      - .env
    networks:
      proxy:
    mem_limit: 512M
    volumes:
      - ${MEDIA}:/media
    restart: unless-stopped
    user: 1000:100
    environment:
      - UN_SONARR_0_API_KEY=${SONARR_API_KEY}
      - UN_RADARR_0_API_KEY=${RADARR_API_KEY}
networks:
  proxy:
    external: true
