---
services:
  diun:
    image: crazymax/diun:latest
    container_name: diun
    command: serve
    volumes:
      - /opt/diun/diun.yml:/diun.yml:ro
      - /opt/diun/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    environment:
      - LOG_JSON=false
    restart: always
