---
services:
  diun:
    image: crazymax/diun:latest
    container_name: diun
    command: serve
    networks:
      proxy:
    volumes:
      - ./diun.yml:/diun.yml:ro
      - /opt/diun/data:/data
      - ./images.yml:/data/images.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    env_file: .env
    restart: always
networks:
  proxy:
    external: true
