---
services:
  watchtower:
    extends:
      file: ../common.yml
      service: common-config
    image: containrrr/watchtower:latest
    container_name: watchtower
    environment:
      - DOCKER_HOST=${DOCKER_HOST}
      - WATCHTOWER_CLEANUP=${WATCHTOWER_CLEANUP}
      - WATCHTOWER_DISABLE_CONTAINERS=${WATCHTOWER_DISABLE_CONTAINERS}
      - WATCHTOWER_INCLUDE_STOPPED=${WATCHTOWER_INCLUDE_STOPPED}
      - WATCHTOWER_SCHEDULE=${WATCHTOWER_SCHEDULE}
      - WATCHTOWER_ROLLING_RESTART=${WATCHTOWER_ROLLING_RESTART}
    networks:
      - socket_proxy
networks:
  socket_proxy:
    external: true
