---
services:
  jellystat-db:
    image: postgres:15
    shm_size: 1gb
    container_name: jellystat-db
    env_file:
      - .env
    networks:
      proxy:
    restart: unless-stopped
    volumes:
      - /opt/postgres:/var/lib/postgresql/data
  jellystat:
    image: cyfershepard/jellystat:latest
    container_name: jellystat
    env_file:
      - .env
    networks:
      proxy:
    restart: unless-stopped
    environment:
      POSTGRES_IP: jellystat-db
      POSTGRES_PORT: 5432
    volumes:
      - /opt/jellystat:/app/backend/backup-data
    depends_on:
      - jellystat-db
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.jellystat-secure.entrypoints=https"
      - "traefik.http.routers.jellystat-secure.rule=Host(`jellystat.${DOMAIN}`)"
      - "traefik.http.routers.jellystat-secure.tls=true"
      - "traefik.http.routers.jellystat-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.jellystat-secure.service=jellystat"
      - "traefik.http.routers.jellystat-secure.middlewares=compress@file"
      - "traefik.http.services.jellystat.loadbalancer.server.port=3000"
networks:
  proxy:
    external: true
