---
services:
  backend:
    container_name: infisical-backend
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    image: infisical/infisical:latest-postgres
    pull_policy: always
    env_file: .env.prod
    ports:
      - "82:8080"
    environment:
      - NODE_ENV=production
    networks:
      - infisical
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.infisical-secure.entrypoints=https"
      - "traefik.http.routers.infisical-secure.rule=Host(`infisical.${DOMAIN}`)"
      - "traefik.http.routers.infisical-secure.tls=true"
      - "traefik.http.routers.infisical-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.infisical-secure.service=infisical"
      - "traefik.http.routers.infisical-secure.middlewares=compress@file"
      - "traefik.http.services.infisical.loadbalancer.server.port=8080"
  redis:
    image: redis
    container_name: infisical-dev-redis
    env_file: .env.prod
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"
    networks:
      - infisical
    volumes:
      - redis_data:/data
  db:
    container_name: infisical-db
    image: postgres:14-alpine
    restart: always
    env_file: .env.prod
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - infisical
    healthcheck:
      test: "pg_isready --username=${POSTGRES_USER} && psql --username=${POSTGRES_USER} --list"
      interval: 5s
      timeout: 10s
      retries: 10
volumes:
  pg_data:
    driver: local
  redis_data:
    driver: local
networks:
  infisical:
  proxy:
    external: true
