---
services:
  libretranslate:
    container_name: libretranslate
    image: libretranslate/libretranslate:latest
    networks:
      proxy:
    env_file:
      - .env
    environment:
      - LT_API_KEYS=true
      - LT_UPDATE_MODELS=true
      - LT_LOAD_ONLY=en,fr
      - LT_API_KEYS_DB_PATH=/app/db/api_keys.db
    volumes:
      - libretranslate_api_keys:/app/db
      - libretranslate_models:/home/libretranslate/.local:rw
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.libretranslate-secure.entrypoints=https"
      - "traefik.http.routers.libretranslate-secure.rule=Host(`libretranslate.${DOMAIN}`)"
      - "traefik.http.routers.libretranslate-secure.tls=true"
      - "traefik.http.routers.libretranslate-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.libretranslate-secure.service=libretranslate"
      - "traefik.http.services.libretranslate.loadbalancer.server.port=5000"
    healthcheck:
      test: ['CMD-SHELL', './venv/bin/python scripts/healthcheck.py']
      interval: 10s
      timeout: 4s
      retries: 4
      start_period: 5s
    restart: unless-stopped
networks:
  proxy:
    external: true
volumes:
  libretranslate_api_keys:
  libretranslate_models:
