---
services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      proxy:
      vpn:
        ipv4_address: 172.32.0.4
    configs:
      - source: post-rules.txt
        target: /iptables/post-rules.txt
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      - "8888:8888/tcp" # HTTP proxy
      - "8388:8388/tcp" # Shadowsocks
      - "8388:8388/udp" # Shadowsocks
      - "2234:2234" # Nicotine+
    volumes:
      - /opt/gluetun/appdata:/gluetun
      - /lib/modules:/lib/modules:ro
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
    environment:
      - TZ=${TIMEZONE}
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_KEY}
      - SERVER_REGIONS=${VPN_REGIONS}
      - UPDATER_PERIOD=24h
      - DNS_ADDRESS=${DNS_IP}
      - DOT=off
    healthcheck:
      test: ["CMD", "/gluetun-entrypoint", "healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.qbittorrent-secure.entrypoints=https"
      - "traefik.http.routers.qbittorrent-secure.rule=Host(`qbittorrent.${DOMAIN}`)"
      - "traefik.http.routers.qbittorrent-secure.tls=true"
      - "traefik.http.routers.qbittorrent-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.qbittorrent-secure.service=qbittorrent"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8081"
      - "traefik.http.routers.nicotine-secure.entrypoints=https"
      - "traefik.http.routers.nicotine-secure.rule=Host(`nicotine.${DOMAIN}`)"
      - "traefik.http.routers.nicotine-secure.tls=true"
      - "traefik.http.routers.nicotine-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.nicotine-secure.service=nicotine"
      - "traefik.http.services.nicotine.loadbalancer.server.port=6565"
      - diun.enable=true
networks:
  proxy:
    external: true
  vpn:
    external: true
configs:
  post-rules.txt:
    content: |-
      iptables -A FORWARD -i eth0 -o tun0 -j ACCEPT
      iptables -A FORWARD -i tun0 -o eth0 -m state --state RELATED,ESTABLISHED -j ACCEPT
      iptables -t nat -A POSTROUTING -o tun0 -j MASQUERADE
      ip6tables -I INPUT -p icmpv6 -j ACCEPT
      ip6tables -I OUTPUT -p icmpv6 -j ACCEPT
      ip6tables -A FORWARD -i eth0 -o tun0 -j ACCEPT
      ip6tables -A FORWARD -i tun0 -o eth0 -m state --state RELATED,ESTABLISHED -j ACCEPT
      ip6tables -t nat -A POSTROUTING -o tun0 -j MASQUERADE
