---
services:
  deemix:
    image: ghcr.io/bambanah/deemix:latest
    container_name: deemix
    networks:
      proxy:
    env_file:
      - .env
    volumes:
      - /opt/deemix/config:/config
      - ${MEDIA}/downloads/deemix:/downloads
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:6595/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.deemix-secure.entrypoints=https"
      - "traefik.http.routers.deemix-secure.rule=Host(`deemix.${DOMAIN}`)"
      - "traefik.http.routers.deemix-secure.tls=true"
      - "traefik.http.routers.deemix-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.deemix-secure.service=deemix"
      - "traefik.http.routers.deemix-secure.middlewares=compress@file"
      - "traefik.http.services.deemix.loadbalancer.server.port=6595"
networks:
  proxy:
    external: true
