---
services:
  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    network_mode: none
    restart: unless-stopped
