---
services:
  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    network_mode: none
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
