---
services:
  notifiarr:
    container_name: notifiarr
    image: golift/notifiarr:latest
    mem_limit: 512M
    networks:
      proxy:
    env_file: .env
    environment:
      - DN_API_KEY=${DN_API_KEY}
      - DN_UI_PASSWORD=${DN_UI_PASSWORD}
      - DN_LIDARR_0_API_KEY=${LIDARR_API_KEY}
      - DN_PROWLARR_0_API_KEY=${PROWLARR_API_KEY}
      - DN_RADARR_0_API_KEY=${RADARR_API_KEY}
      - DN_SONARR_0_API_KEY=${SONARR_API_KEY}
    volumes:
      - /opt/notifiarr/config:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.notifiarr-secure.entrypoints=https"
      - "traefik.http.routers.notifiarr-secure.rule=Host(`notifiarr.${DOMAIN}`)"
      - "traefik.http.routers.notifiarr-secure.tls=true"
      - "traefik.http.routers.notifiarr-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.notifiarr-secure.service=notifiarr"
      - "traefik.http.routers.notifiarr.middlewares=compress@file"
      - "traefik.http.services.notifiarr.loadbalancer.server.port=5454"
networks:
  proxy:
    external: true
